@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&display=swap');


*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family:IBM Plex Sans ;
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
    margin: 0;
    height:100%;
    z-index: 1;
    
}
body::after{
    content: ();
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}




a{
    text-decoration: none;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li{
    display: inline;
    margin: 0 0 0 20px;  
}

#menu-h ul li a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}



p{
    color: rgb(16, 4, 96);}
    
h1{
    color: rgb(19, 50, 76);
    
}

footer{
    color: rgb(181, 139, 77);
    background-color: black;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    
}





