@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600&display=swap');


*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family:IBM Plex Sans ;
    scroll-behavior: smooth;
}

body{
    background-image: url(/Nikola-Tesla-Computer-Wallpaper-3389680267.jpg);
}

a{
    text-decoration: none;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

footer{
    color: blanchedalmond;
}

p{
    color: #FFF;
    background-color: black;
}
h1{
    color: aliceblue;
    
}




